*{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hdnsty:hover{
background-color: rgb(221, 221, 221);
cursor: pointer;
}
.nav-link:hover{
color: black;
}
.marquee {
    width: 100%;
	line-height: 1rem;
	background-color: rgb(230, 221, 221);
	color: rgb(21, 18, 18);
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    
}
.marquee h2{
    display: inline-block;
    padding-left: 100%;
    animation: marquee 12s linear infinite;
    font-size: 2vw;
    margin:auto;
}
.card{
border: 4px solid gray;
}
@keyframes marquee {
    0%   { transform: translate(100%); }
    100% { transform: translate(-100%); }
}
@media only screen and (max-width:1460px)
{
    .marquee {
        width: 100%;
        line-height: 10%;
        background-color: rgb(230, 221, 221);
        color: rgb(21, 18, 18);
        white-space: nowrap;
        overflow: hidden;
        box-sizing: border-box;
    }
}
